# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List popular lanugages for Data Science
- List commonly used libraries for Data Science
- List some Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. ggplot
5. caret

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|IBM Watson|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Eric Johns